
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* background-color: rgb(170, 170, 170); */
    max-width: 1300px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    height: 100%;

}

.navbar-container-1 {
    width: 85%;
    margin: 95px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.logo h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.navbar-content-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.navbar-content-desktop  a{ 
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
}

.navbar-content-desktop  a:hover {
    color: rgb(236, 111, 16);
}



/* mobile view  start*/

.navbar-container-2 {
    width: 90%;
    margin: 40px auto 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.logo h2 {
    font-family: "poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.navbar-content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.navbar-content-mobile  a{ 
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
}

.navbar-content-desktop  a:hover {
    color: rgb(58, 58, 58);
}


/* mobile view end */



.influencer-journey-section {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    border: 2px solid;
}

.influencer-journey-content {
    width: 50%;
}

.influencer-journey-content h1 {
    font-family: "poppins", sans-serif;
    font-size: 3.25rem;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgb(58, 58, 58);
    line-height: 65px;
    margin-bottom: 16px;
}


.influencer-journey-content p {
    width: 90%;
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    line-height: 24px;
    margin-bottom: 16px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 11px 30px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}


.influencer-journey-image {
    position: relative;
    width: 40%;

}

.font-img img{
    position: absolute;
    z-index: 1;
    height: 89%;
    top: 22px;
    left: 5px;
}

.bg-image img{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

/* influencer-customer-section strat */


.fst-hr  {
    width: 80%;
    margin: 0 auto;
    height: 0.7px;
    border: 0;
    background: linear-gradient(135deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50%,rgba(192, 204, 218, 0.1) 100%);
    margin-bottom: 35px;
}

 .snd-hr{
    width: 80%;
    margin: 0 auto;
    height: 0.5px;
    border: 0;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    margin-top: 32px;
    margin-bottom: 100px;
}

.influencer-customer-section {
    width: 70%;
    margin: 0 auto;
}

.influencer-customer-company {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}



/* popular-section strat here */

.popular-section {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.popular-section-title h3 {
    font-family: "poppins", sans-serif;
    color: rgb(58, 58, 58);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}


/* popular-section-container  */

.popular-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    width: 100%;
}


.card-1 {
    /* max-width: 330px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 17px 15px 27px 14px;
}
.card-1 img{
    width: 100%;
    margin-bottom: 10px;
}
.card-1 h4{
    color: rgb(24, 25, 31);
    font-family: "poppins", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
}
.card-1 h5{
    color: rgb(24, 25, 31);
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

}

.ratings {
    display: flex;
    gap: 100px;
}

.ratings h6 {
    color: rgb(94, 99, 102);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}
.rating-star {
    display: flex;
    gap: 5px;
    width: 16px;
    height: 16px;
    color: rgb(251, 130, 0);
}

.card-1 p{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.8%;
    line-height: 143%;
}

.btn-primary-2 {
    margin-left: 810px;
    color: rgb(224, 44, 109);
    font-size: 1rem;
    font-weight: 700;
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-right: 0;
}

.content .btn-primary {
    padding: 10px 24px;
    border-radius: 0px;
}

/* popular-section end here */


